.background-color {
    background-color: #ebebd3
}

.h1 {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
    color: #ee964b
}

.p {
    font-size: 24px;
    text-align: center;
    padding-bottom: 1rem;
}

.leirás {
    font-size: 24px;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.nav-text {
    text-decoration: none;
    color: #083d77;
    font-size: 24px;
    padding: 0 1rem;
}

.footer {
    text-align: center;
    padding-top: 2rem;
    color: #ee964b;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.image-hover {
    width: 200px;
    transition: transform 0.3s ease;
}

.image-hover:hover {
    transform: scale(1.2);
}